In [1]:
import pandas as pd
import sqlalchemy
import pprint
import psycopg2
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
# Connect to local database
from sqlalchemy import create_engine
engine = create_engine('postgresql://localhost:5432/EmployeeSQL')
connection = engine.connect()

In [ ]:
# Import the Employees table
employees = pd.read_sql('select * from employees', connection, parse_dates=['birth_date', 'hire_date'])
employees.head()

In [ ]:
# Import the Departments table
departments = pd.read_sql('select * from departments', connection)
departments.head()

In [ ]:
# Import the Salaries table
salaries = pd.read_sql('select * from salaries', connection, parse_dates=['from_date', 'to_date'])
salaries.head()

In [ ]:
# Import the Department Manager table
dept_manager = pd.read_sql('select * from dept_manager', connection, parse_dates=['from_date', 'to_date'])
dept_manager.head()

In [ ]:
# Replace null dates
dept_manager.to_date = dept_manager['to_date'].fillna(pd.to_datetime('2050-12-31'))
dept_manager.head()

In [ ]:
# Import the Titles table
titles = pd.read_sql('select * from titles', connection, parse_dates=['from_date', 'to_date'])
titles.head()

In [ ]:
# Replace null dates
titles.to_date = titles['to_date'].fillna(pd.to_datetime('2050-12-31'))
titles.head()

In [ ]:
# Create a merged dataframe of titles and salaries
employee_salaries = titles.merge(salaries, on='emp_no')
employee_salaries.head()

In [ ]:
# Creating Dataframe with emp_no, title, salary
employee_salaries_df = employee_salaries[['emp_no', 'title', 'salary']]
employee_salaries_df.head()

In [ ]:
employee_salaries_df.groupby('title')['salary'].mean().round(2)
employee_salaries_df.head()

In [ ]:
employee_salaries_df.hist(column='salary')

In [ ]:
employees_grouped_by_title = employee_salaries_df.groupby(['title'])['salary'].mean()
employees_grouped_by_title

In [ ]:
employees_grouped_by_title.plot.bar()